*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: #6ac;
}
*::-webkit-scrollbar-track {
	background-color: #ccc;	
}
* {
	font-family: "Quicksand";
	font-weight: 100;
	line-height: 30px;
	margin: 0;
}
body,
html {
	background-color: #eff;
	height: 100%;
}
.article {
	margin: auto;
	max-width: 748px;
	padding: 10px;
}
.one {
	background-color: #cef;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.two {
	flex-basis: calc(200% / 3 - 60px);
	padding: 20px;
}
.one {
	flex-basis: calc(100% / 3 - 60px);
	padding: 20px;
}
.empty {
	background-color: #eff;
}
.third {
	margin: 10px;
}
.half {
	flex-basis: calc(50% - 60px);
	margin: 10px;
	padding: 20px;
}
.whole {
	flex-basis: calc(100% - 60px);
	margin: 10px;
	padding: 20px;
}
h1 {
	margin-bottom: 30px;
}
strong {
	font-weight: 900;
}
.shrink {
	align-self: flex-end;
}
.fa {
	background-color: #3b5998;
    border-radius: 50%;
	color: #fff;
	height: 50px;
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	width: 50px;
}
.fa::before {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
a {
	color: #08c;
    text-decoration: none;
}
.color {
	background-color: #08c;
	color: #fff;
}