*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: #6ac;
}
*::-webkit-scrollbar-track {
	background-color: #ccc;	
}
* {
	font-family: "Quicksand";
	font-weight: 100;
	line-height: 30px;
	margin: 0;
}
body,
html {
	background-color: #eff;
	height: 100%;
}
.one {
	background-color: #cef;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: 748px;
	padding: 10px;
}
.two {
	flex-basis: calc(200% / 3 - 60px);
	padding: 20px;
}
.one {
	flex-basis: calc(100% / 3 - 60px);
	padding: 20px;
}
.empty {
	background-color: #eff;
}
.third {
	margin: 10px;
}
.half {
	flex-basis: calc(50% - 60px);
	margin: 10px;
	padding: 20px;
}
.whole {
	flex-basis: calc(100% - 60px);
	margin: 10px;
	padding: 20px;
}
h1 {
	margin-bottom: 30px;
}
strong {
	font-weight: 900;
}
.shrink {
	align-self: flex-end;
}
.fa {
	background-color: #3b5998;
    border-radius: 50%;
	color: #fff;
	height: 50px;
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	width: 50px;
}
.fa::before {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
a {
	color: #08c;
    text-decoration: none;
}
.color {
	background-color: #08c;
	color: #fff;
}
.big {
	align-items: center;
	background-color: #000;
	color: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	overflow: hidden;
}
#parallax {
	max-width: 748px;
	padding: 10px;
}
h1,
h2 {
	line-height: 40px;
}
#bottom {
	bottom: 20px;
	color: #ccc;
	position: absolute;
}
#move {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
.footer {
	background-color: #379;
	padding: 10px;
}
.hide {
	background-color: #dee !important;
}
.sticky {
	background-color: #046;
	z-index: 1;
}
.sticky div {
	display: flex;
	margin: auto;
	max-width: 748px;
	padding: 10px;
}
.sticky a {
	flex-grow: 1;
	text-align: center;
}
.sticky a {
	color: #fff;
}
.hide a {
	visibility: hidden;
}
.footer div {
	color: #ccc;
	margin: auto;
	max-width: 748px;
	padding: 10px;
	text-align: center;
}